body {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  border: 4px pink solid;
  min-height: 100vh;
  margin: 0;
}

div:nth-child(odd) {
  background: blue;
}
