* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div {
  width: 80%;
  display: flex;
  border: red 2px solid;
  height: 100px;
  align-items: flex-start;

  justify-content: space-evenly;
}

button {
  width: 15%;
}
